.images{

    padding-bottom: 4rem;
    h1{
        font-family: "roboto";
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align:center;
        margin-top: 3rem;
        
        &::after{
            content:"";
            display:block;
            width:10%;
            height: 1px;
            background-color: $rouge;
            margin: 0 auto;
        }
    }

    .imagechien 
    {
        padding-top: 3rem;
        margin:3rem 1rem;
        position:relative;
        background: url(../img/chiens-adoption-spa.jpg) no-repeat;
        background-size:37rem;
        width:37rem;
        height:14rem;
        transition: background-size 0.8s;

        @media screen and (min-width:768px){
        &:hover{
            background-size:39rem;
        }}

        .textimage{
            position:absolute;
            bottom:10%;
            left:50%;
            transform: translate(-50%,0);
            color:$blanc;
            background-color:$marine;
            font-weight: 600;
            padding:1.5rem 1rem;
            text-decoration: none;
        }
    }
        
    .imagechat{
        padding-top: 3rem;
        margin:3rem 1rem;
        position:relative;
        background: url(../img/chats-adoption-spa.jpg) no-repeat;
        background-size: 37rem;
        width:37rem;
        height: 14rem;
        transition: background-size 0.8s;

        @media screen and (min-width:768px){
        &:hover{
            background-size:40rem;
        }}

        .textimage{
            position:absolute;
            bottom:10%;
            left:50%;
            transform: translate(-50%,0);
            color:$blanc;
            background-color:$marine;
            font-weight: 600;
            padding:1.5rem 1rem;
            text-decoration: none;
      
        }
    }

}