$noir:black;
$grisc:rgb(241, 237, 237);
$gris:rgb(201, 199, 199);
$marine: rgb(45, 45, 110);
$blanc: white;
$grisf: grey;
$rouge:red;
$bleuciel: rgb(231, 245, 250);
$grishead: #F8F9FA;

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}